:root {
    --purp: #5041b0;
    --green: #009c7b;
    --pink: #ed619c;
    --orange: #fb6f50;
    --blue: #4facf7;
    --dark-bg: #001122;
    --light-bg: #fff6f6;
}

.orange {
    color: var(--orange);
}
.green {
    color: var(--green);
}
.blue {
    color: var(--blue);
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(-225deg, #4945B6 0%, #6A6DD9 53%, #A695FB 100%);
    background-attachment: fixed;
    color: #fff;
    font-weight: 200;
}

section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100dvh;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

#home {
    align-items:end;
}

.moon {
    position: absolute;
    top: 10%;
    right: 20px;
}

.pixel {
    /* font-family: 'Silkscreen', sans-serif; */
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

h1 {
    font-weight: 800;
    font-size: 96px;
    margin: 10px 0 0;
}
h2 {
    font-size: 50px;    
    font-weight: 800;
}

#cli {
    position: fixed;
    margin: 0;
    bottom: 5px;
    left: 5px;
    font-size: 13px;
    opacity: .8;
}
#cli::after{
    content: '';
    position: absolute;
    margin-left: 4px;
    width: 6px;
    height: 16px;
    background-color: #ffffff1c;
    animation: blink 1s step-end infinite;
}
@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }